/*  ------------------- PAGE LAYOUT STYLES --------------------- */

body {
  font-family:  Verdana, sans-serif;
  font-size: 69%;
  color: #333;
  background: #971104 url(../images/halftone.gif) top repeat-x;
  margin: 0;
  padding: 0;
  }

#container {
  background: transparent url(../images/home_mainbkgd.png) top left no-repeat;
  width: 920px;
  margin: 6px auto;
  position: relative;
  }
  
#copyright {
  text-align: center;
  color: #C66;
  margin-top: 30px;
  }
  
/*  PAGE LINK STYLES  */
a:link, a:visited {
  color: #f99;
  text-decoration: none;
  }
 
a:hover {
  color:#fff;
  text-decoration: none;
  border-bottom: 1px solid #00CCCC;
}
/* END PAGE LINKS */



/* ----------------------- HEADER STYLES ------------------------- */
#header {
   padding-top: 90px;
   padding-left: 420px;
   }

#header h1 {
  display: none;
  }

#header #navigation #primary ul.links-menu li {
  display: inline;
  margin-right: 1em;
  padding: 0;
  }
  
 #header #navigation #primary a, #header #navigation #primary a:visited {
   color: #fff;
   text-decoration: none;
   }
   
 #header #navigation #primary a:hover {
   border-bottom: 1px dotted white;
   }

/* style.css override for HEADER */

#header #navigation #primary a {
background-position: normal;
}
#header #navigation #primary a {
border: none;
display:inline;
float:none;
font-weight:normal;
margin:0;
padding:0;
}

#header #navigation #primary {
  font-size: 100%;
  line-height: 1;
}

/* END HEADER */


/* -----------------------TEXT FORMATTING ------------------------- */

ul {
  list-style-type: none;
  padding: 0;
  }

/* END TEXT FORMATTING */



/*  SCROLLING INTERVIEW NAV BOX  */
#block-views-interviews {
  width: 186px;
  height: 280px;
  overflow: auto;
  margin: 0 10px;
  position: absolute;
  top: 207px;
  left: 15px;
  padding-top: 6px;
  color:#000;
  }

#block-views-interviews h2 {
  display: none;
  }

#block-views-interviews ul {
  margin: 0;
  list-style-type: none;
}

#block-views-interviews ul li {
   text-indent: 0px;
   margin: .7em 0;
   }
/*  END SCROLLING NAV BOX */


/* -- MAIN COLUMN -- */

/* style.css overrride styles */
#main .node .content {
  padding-top: 0px;
}

#main .node {
  padding-bottom: 0;
  clear: both;
}

/* end override */

#content-content {
  margin-left: 220px;
}

#main {
width: 512px;
background: transparent url(../images/home_moviebox_top.png) top center no-repeat;
padding-top: 10px;
position: relative;
top: 50px;
color: #C8EEEE;
}

#mainbottom {
width: 512px;
height: 30px;
padding-top: 20px;
background: url(../images/home_moviebox_bottom.png) bottom center no-repeat;
}

#main h2 {
  color: #c8eeee;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #c8eeee;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 2em;
  clear: both;
}

#main h3 {
  font-size: 2.5em;
  color: #fff;
  margin: 0;
  font-family: Georgia, serif;
  font-weight: normal;
  }

#main h2#featuring {
  border-bottom: none;
  margin-top: 1em;
  }

#main .node a.image:hover {
  border: none;
}

#main .player  {
  text-align: center;
}

a img {
  border: 0;
}

#main a {
  color: #fff;
}
#main a:hover {
  border-bottom: 1px dotted #fff;
  }

#main p, #main h3 {
  margin-left: 15px;
  margin-right: 15px;
}

#main p {
  margin-top: 0;
  }

div.recently img, div.fanfaves img {
  float: left;
  margin: 0 1em 1em 15px;
}

.name {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  font-weight: bold;
}
.subname {
  color: #ccf4f6;
  font-weight: bold;
}

.teaser p {
  display: inline;
}

#main .teaser p {
  margin-left: 0;
}

div.teaser {
  margin-bottom: 1em;
  margin-top: .5em;
  padding-left: 15px;
}

/* trying to get space below the movie here */
div.recently {
  margin-top: 2em;
}
div.home-feature {
  margin-bottom: 2em;
}
/* end trying */

/* END MAIN COLUMN */



/* ---------NEWS COLUMN ------------ */
#info {
width: 160px;
position: absolute;
top: 210px;
right: 15px;
}

#info div.item-list ul, #info div.item-list li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

#info div.view-data-node-created {
   color:#366;
   margin-bottom: 0;
 }
 
 #info div.view-data-node-body {
    margin-top: 0;
  }

#info div.view-data-node-body p {
   margin-top: 0;
   line-height: 1.3em;
 }
 
#info a:link, #info a:visited {
  color: #971104;
}

#info a:hover {
  color: #c81325;
}
 
.more-link a {
  color: #366;
}
 
/* END NEWS */

/* DRUPAL GRAPHIC LINK STYLES */
#block-menu-75 {
  position:absolute;
  top: 512px;
  left: 20px;
  }
  
#block-menu-75 ul.menu li {
  margin: 6px 0;
  }

#block-menu-75 ul.menu a {
  display: block;
  width: 180px;
  text-indent: -999em;
}

#block-menu-75 ul.menu a:hover {
  border: none 0;
}

#block-menu-75 .mid-76 a {
  height: 50px;
  background: transparent url(../images/jenskitchen_button.png) top left no-repeat;
}
#block-menu-75 .mid-76 a:hover {
  background: transparent url(../images/jenskitchen_button.png) bottom left no-repeat;
}

#sidebar-left #block-menu-75 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#block-menu-75 li.leaf {
  list-style-image: none;
  list-style-type: none;
}

#block-menu-75 ul.menu {
  margin: 0;
  padding: 0;
}
/*
#block-menu-75 .mid-77 a {
  height: 33px;
  background: transparent url(../images/shop_button.png) top left no-repeat;
}
#block-menu-75 .mid-77 a:hover {
  background: transparent url(../images/shop_button.png) bottom left no-repeat;
}
*/

#block-menu-75 .mid-77 a {
  height: 33px;
  background: transparent url(../images/discuss_button.png) top left no-repeat;
}
#block-menu-75 .mid-77 a:hover {
  background: transparent url(../images/discuss_button.png) bottom left no-repeat;
}

#block-menu-75 .mid-78 a {
  height: 33px;
  background: transparent url(../images/recipes_button.png) top left no-repeat;
}

#block-menu-75 .mid-78 a:hover {
  background: transparent url(../images/recipes_button.png) bottom left no-repeat;
}
/* END GRAPHICAL SECTION LINKS */
  
#show_content_holder object {
  margin-left: 15px;
}

div#content div.error {
  display: none;
}
